@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
             env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
    min-height: calc(100% + env(safe-area-inset-top));
    overscroll-behavior: none;
    touch-action: none;
    background-color: #ffe4e6;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: transparent;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: env(safe-area-inset-top);
    background-color: #ed354f; /* haut rouge */
    z-index: 9999;
    pointer-events: none;
  }

  body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: env(safe-area-inset-bottom);
    background-color: #ffe4e6; /* bas rose */
    z-index: 9999;
    pointer-events: none;
  }
}